CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-4a-gigabit=y

CONFIG_PACKAGE_ua2f=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-filter=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-mod-nfqueue=y			   
CONFIG_PACKAGE_iptables-mod-u32=y

CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-filter=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-nfqueue=y			   
CONFIG_PACKAGE_kmod-ipt-u32=y
CONFIG_PACKAGE_kmod-nfnetlink-queue=y


CONFIG_PACKAGE_luci-app-privoxy=y
CONFIG_PACKAGE_luci-app-ttyd=y

CONFIG_PACKAGE_luci-i18n-privoxy-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-theme-argon_armygreen=y
CONFIG_PACKAGE_luci-theme-ifit=y

CONFIG_PACKAGE_privoxy=y
CONFIG_PACKAGE_ttyd=y
